@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #96c1be;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 20px;
}
.container{
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 50px;
}
nav {
  color: #373a47;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.menu-button {
  height: 44px;
  cursor: pointer;
}
.close-button {
  height: 24px;
  margin: 20px 20px 0px 0px;
  margin-left: auto;
  cursor: pointer;
}
.menu-slider {
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373a47;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: 300ms;
  z-index: 1;
}
ul {
  list-style: none;
  margin: 0 20px;
}
li {
  font-size: 20px;
  margin: 20px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
h1 {
  color: #373a47;
  padding: 15px;
  text-align: center;
}
p {
  text-align: center;
}
.gumb {
  color: #373a47;
  background-color: #f1f1f1;
  font-weight: bold;
  border: 1px solid #373a47;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}
.gumb:hover {
  background-color: #373a47;
  color: #f1f1f1;
}
.novac {
  width: 150px;
}
.valuta {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.valuta select {
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  appearance: none;
  border: 1px solid #f1f1f1;
  font-size: 16px;
  background: transparent;
  background-image: url('./img/strelica.svg');
  background-position: right 0px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}
.valuta input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}
.broj {
  color: #373a47;
}
.zamijeni-tečaj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tečaj {
  color: #373a47;
  font-size: 14px;
  padding: 0 10px;
}
select:focus,
input:focus,
button:focus {
  outline: 0;
}
.country-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}
.country-container {
  margin: 20px;
  max-width: 150px;
}
.img-container {
  max-width: 200px;
  height: 80px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 600px) {
  .valuta input {
    width: 200px;
  }
}
